################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 2015/2017 cache/options directory
.vs/
/games/.vs/
